.card-set {
  // сетка для расположения карточек
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-top: -20px;
  padding-top: 20px;

  @media screen and (min-width: 768px) {
    //$tablet
    margin-left: -30px;
    margin-top: -30px;
    padding-top: 60px;
  }
}

.card-set > .card-item {
  // сласс item для карточки - элемента списка
  margin-top: 20px;

  @media screen and (min-width: 768px) {
    //$tablet
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }

  @media screen and (min-width: 1024px) {
    //$desktop
    flex-basis: calc(100% / 3 - 30px);
  }
}
