body {
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
}

ul {
  list-style: none;
  padding: 0 0;
  margin: 0 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 0;
}

a {
  display: block;
  text-decoration: none;
  font-style: normal;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* .container {
  padding: 0 20px;
  margin: 0 auto;
  width: $mobile;

  @media screen and (min-width: $tablet) {
    width: $tablet;
    padding: 0 75px;
  }
  @media screen and (min-width: $desktop) {
    width: $desktop;
    padding: 0 71px;
  }
} */
.container {
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
}

@media screen and (min-width: $mobile) {
  .container {
    max-width: $mobile;
    padding: 0 20px;
  }
}

@media screen and (min-width: $tablet) {
  .container {
    max-width: $tablet;
    padding: 0 75px;
  }
}

@media screen and (min-width: $desktop) {
  .container {
    max-width: $desktop;
    padding: 0 71px;
  }
}