img {
  display: block;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
}
.filmcard {
  width: 280px;
  padding-left: 20px;
  padding-right: 20px;
  /* padding-top: 48px;
  padding-bottom: 30px; */
  margin-top: 8px;
  margin-left: auto;
  margin-bottom: 30px;
  margin-right: auto;
}
.filmcard-image__thumb {
  width: 240px;
}
.filmcard-content {
  width: 240;
}
.vote {
  margin-right: 41px;
  margin-left: 0;
  margin-bottom: 10px;
}
.vote_average {
  width: 36px;
  height: 16px;
  background: #ff6b01;
  border-radius: 5px;

  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}
.popular {
  margin-right: 53px;
  margin-bottom: 10px;
}
.original {
  margin-right: 39px;
  margin-bottom: 10px;
}
.genre {
  margin-right: 76px;
  margin-bottom: 20px;
}
.filmcard-title-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.filmcard-about {
  margin-top: 20px;
}
.button {
  margin-top: 21px;
  width: 112px;
  height: 44px;

  align-items: center;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
}

.btnwatched {
  margin-right: 14px;

  margin-left: 0;

  background: #ff6b01;
  border: 0;
  color: #ffffff;
}
.btnqueue {
  margin-bottom: 41px;

  background: #ffffff;
  color: #000000;
  border: 1px solid #000000;
}
.btn__cont {
  display: flex;
}

/* ========================================== */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .filmcard {
    /* width: 618;
    height: 562; */
    padding-left: 28px;
    padding-right: 30px;

    margin-top: 2px;

    display: flex;
  }

  img {
    width: 264px;
  }
  .contentbtn {
    display: flex;
  }

  .filmcard-image__thumb {
    width: 264px;
    margin-right: 32px;
  }

  .filmcard-content {
    width: 264;
    padding: 0;
  }

  .button {
    margin-top: 20px;
    width: 125px;
  }
  .btnwatched {
    margin-bottom: 40px;
  }
  .btnqueue {
    margin-bottom: 40px;
  }
}
/* ================================================= */
@media screen and (min-width: 1024px) {
  .filmcard {
    /* width: 882;
    height: 568; */
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
  }

  img {
    width: 396px;
  }

  .filmcard-image__thumb {
    width: 396px;
    margin-right: 30px;
  }

  .filmcard-content {
    width: 396;
    padding: 0;
  }
  .button {
    width: 136px;
  }
  .btnwatched {
    margin-right: 2px;
  }
  .btnqueue {
    padding-left: 3px;
    padding-bottom: 12px;
    padding-right: 3px;
    padding-top: 14px;

    margin-bottom: 41px;

    border-width: 0.5;
    color: #000000;
  }
}
