<article class="filmcard">

    <div class="filmcard-image__thumb">
        <img class="filmcard-image" src="images/Rectangle 18.jpg" alt="" width="100%" />
    </div>

    <div class="filmcard-content">
        <h2 class="filmcard-title">{{A FISTFUL OF LEAD}}</h2>

        <ul class="filmcard-title-list">
            <li class="filmcard-title-list-item">
                <span class="vote">Vote / Votes</span>
                <b><span class="vote_average">{{7.8}}</span>/ {{3439}}</b>
            </li>
            <li class="filmcard-title-list-item">
                <span class="popular">Popularity</span>
                <b>{{g}}</b>
            </li>
            <li class="filmcard-title-list-item">
                <span class="original">Original Title</span>
                <b>{{A FISTFUL OF LEAD}}</b>
            </li>
            <li class="filmcard-title-list-item">
                <span class="genre">Genre</span>
                <b>{{Western}}</b>
            </li>
        </ul>

        <div class="filmcard-about">

            <h3>ABOUT</h3>

            <p class="filmcard-text">
                Four of the West’s most infamous outlaws assemble to steal
                a huge stash of gold from the most corrupt settlement of
                the
                gold rush towns. But not all goes to plan one is
                killed and the other three escapes with bags of
                gold hide out in the
                abandoned gold mine where they happen across
                another gang of three – who themselves were
                planning to hit the very same
                bank! As tensions rise, things go from bad to
                worse as they realise the bags of gold are
                filled with lead... they’ve
                been double crossed – but by who and how?
            </p>
        </div>


        <div class="btn__cont">
            <button type="button" class="button btnwatched"><b>add to watched</b></button>
            <button type="button" class="button btnqueue"><b>add to queue</b></button>
        </div>

    </div>
</article>